:root {
    --borderRadius: 0.4rem;

    /* color */
    --ColorWhite: #fff;
    --ColorBg: #79704b;
    --ColorDark: #000;
    --ColorDeep: #4e4a39;
    --ColorLight: #8C8D96;
    --ColorMain: #FFD84D;
    --ColorMainLight: #DFCC86;
    --ColorNegative: #ff537b;

    --codeText: #ffd700;
    --codeSyntex: #569cd6;
    --codeBuiltinfunction: #a76dff;
}