:root {
	--borderRadius: 0.4rem;

	/* color */
	--ColorWhite: #fff;
	--ColorBg: #3b4e7e;
	--ColorDark: #000;
	--ColorDeep: #242f4d;
	--ColorLight: #8c8d96;
	--ColorMain: #ffd84d;
	--ColorMainLight: #ffdd63;
	--ColorMainDark: #dbbd53;
	--ColorNegative: #ff537b;

	--codeText: #ffd700;
	--codeSyntex: #569cd6;
	--codeBuiltinfunction: #a76dff;
}
