:root {
    --borderRadius: 0.4rem;

    /* color */
    --ColorWhite: #fff;
    --ColorBg: #3B4E7E;
    --ColorDark: #000;
    --ColorDeep: #242F4D;
    --ColorLight: #8C8D96;
    --ColorMain: #FFD84D;
    --ColorMainLight: #DFCC86;
    --ColorMainDark: #dbbd53;
    --ColorNegative: #ff537b;

    --codeText: #ffd700;
    --codeSyntex: #569cd6;
    --codeBuiltinfunction: #a76dff;
}